[project]
name = "aimu"
version = "0.1.5"
description = "A Python package containing tools for working with various language models and AI services."
readme = "README.md"
requires-python = ">=3.10"
license = {file = "LICENSE"}

# pip dependencies
dependencies = [
    "sqlalchemy",
    "chromadb",
    "fastmcp",
    "nest_asyncio",
    "streamlit",
    "watchdog",
    "tinydb",
]

# optional pip dependencies
[project.optional-dependencies]
dev = [
    "ruff",
    "pytest",
]
notebooks = [
    "ipykernel",
    "ipywidgets",
]
hf = [
    "torch",
    "transformers",
    "accelerate",
    "sentencepiece",
    "kernels", # required for GPT-OSS
    "triton==3.4" # optional(?) for GPT-OSS
]
ollama = [
    "ollama",
]
aisuite = [
    "aisuite",
    "docstring-parser", # requied by aisuite
]
all = ["aimu[hf,ollama,aisuite]"]

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
where = ["."]
include = ["aimu*"]

[tool.ruff]
line-length = 120
target-version = "py310"

[tool.pytest.ini_options]
pythonpath = [
  "."
]

