[project]
name = "aimu"
version = "0.1.6"
description = "A Python package containing tools for working with various language models and AI services."
readme = "README.md"
requires-python = ">=3.10"
license = {file = "LICENSE"}

dependencies = [
    "sqlalchemy",
    "chromadb",
    "fastmcp",
    "nest_asyncio",
    "streamlit",
    "watchdog",
    "tinydb",
]

[project.optional-dependencies]
dev = [
    "ruff",
    "pytest",
]
notebooks = [
    "ipykernel",
    "ipywidgets",
]
hf = [
    "torch",
    "transformers",
    "accelerate",
    "sentencepiece",
    "kernels", # required for GPT-OSS
]
ollama = [
    "ollama",
]
aisuite = [
    "aisuite[openai,anthropic]", # for OpenAI and Anthropic model support
 #   "httpx==0.27.0", # required to fix an antropic issue
    "docstring-parser", # requied by aisuite
    "python-dotenv"
]
all = ["aimu[hf,ollama,aisuite]"]

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
where = ["."]
include = ["aimu*"]

[tool.ruff]
line-length = 120
target-version = "py310"

[tool.pytest.ini_options]
pythonpath = [
  "."
]

